@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-gradientCommon {
    background: radial-gradient(#fad0c4, transparent);
  }
  .common-before {
    @apply px-4 uppercase inline-block relative before:absolute before:content-[''] before:right-full before:top-[45%] before:bg-black before:w-10 before:h-[1px] ml-14;
  }
  .common-outline {
    @apply text-8xl md:text-[130px] lg:text-[180px] bottom-[-30px] right-0 lg:right-0 font-bold absolute text-center lg:text-end w-full lg:w-auto;

    color: transparent;
  }
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #e4e8e7;
}
