/* upper one  */
.commonStroke1{
    color:transparent ;
    -webkit-text-stroke: 1px #fff;
    /* f8df6efc */
}
/* second one  */
.commonStroke2{
    color:transparent ;
    -webkit-text-stroke: 1px #fff;
}